@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
}

section {
  width: 100dvw;
}

@theme {
  --font-sans: "Mona Sans", sans-serif;
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  .section-padding {
    @apply px-5 md:px-10 md:mt-24 mt-14;
  }

  .hero-layout {
    @apply relative z-10 md:min-h-[50vh] h-auto flex flex-col items-center justify-start pt-24 md:pt-36 pb-8 text-gray-300;
  }

  .hero-text {
    @apply flex flex-col justify-center items-center text-center md:text-[52px] text-[28px] font-semibold relative z-10 pointer-events-none;
  }

  .navbar {
    @apply fixed w-[92%] max-w-5xl left-1/2 -translate-x-1/2 top-4 py-2 px-6 z-100 transition-all duration-300 ease-in-out border border-white/10 rounded-full backdrop-blur-md bg-black/50;

    &.scrolled {
      @apply bg-black/80 border-white/20;
    }

    &.not-scrolled {
      @apply bg-black/40;
    }

    .inner {
      @apply mx-auto flex items-center justify-between;
    }

    nav.desktop {
      @apply hidden lg:flex items-center;

      ul {
        @apply flex space-x-6;

        li {
          @apply text-gray-500 text-sm font-medium relative;

          span {
            @apply transition-colors duration-200 hover:text-white;
          }

          .underline {
            @apply absolute -bottom-1 left-0 w-0 h-px bg-white transition-all duration-200 group-hover:w-full;
          }
        }
      }
    }

    .mobile-menu {
      @apply fixed top-0 right-0 h-screen w-full sm:w-[280px] bg-black/95 backdrop-blur-xl z-40 transition-all duration-500 ease-in-out translate-x-full border-l border-white/10 p-8;

      &.open {
        @apply translate-x-0;
      }

      nav ul {
        @apply flex flex-col space-y-6 mt-16;

        li a {
          @apply text-lg font-medium text-gray-400 hover:text-white transition-colors;
        }
      }
    }
  }

  .card-border {
    @apply border border-black-50 bg-black-100;
  }

  form {
    label {
      @apply block text-white-50 mb-2;
    }

    input,
    textarea {
      @apply w-full px-4 py-4 md:text-base text-sm placeholder:text-blue-50 bg-blue-100 rounded-md outline-none focus:ring-1 focus:ring-white/30 transition-shadow duration-200;
    }
  }

  .footer {
    @apply my-8 md:mt-14 mt-8 text-white-50 px-5 md:px-20 xl:px-20 flex items-center justify-center;

    .footer-container {
      @apply grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-0 w-full;
    }

    p {
      @apply text-center md:text-start cursor-pointer;
    }

    .socials {
      @apply flex items-center justify-center gap-5;

      .icon {
        @apply border border-black-50 bg-black-100 flex justify-center items-center rounded-xl size-10 md:size-12 cursor-pointer transition-all duration-500 hover:bg-black-50;
      }
    }
  }
}

.card {
  --start: 0;
  position: relative;
  z-index: 40;
  overflow: hidden;
  transition: border-color 1s ease-in-out;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 2px solid transparent;
  background: radial-gradient(circle, #e5e5e500 0%, #ffffff22 100%);
  background-attachment: fixed;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(from calc((var(--start) - 15) * 1deg),
      #ffffff1f 0deg,
      white,
      #ffffff00 100deg);
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}

.card:hover::before {
  opacity: 1;
}
